@import url('default.css');

.header{
  background-color: #016cbc;
}


  /* SERVICES -->*/
.services_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 120px 0;
}

.service_item{
    display: flex;
}
.service_item.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.image_container{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: image_appearance;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes image_appearance {
  from   {scale: 0;}
  to {scale: 1;}
}

.service_text{
    padding: 80px 40px 60px 50px;
    width: 50%;
}

.service_text h1{
    margin-bottom: 40px;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #016cbc;
}

.service_text p{
    text-align: justify;
    line-height: 30px;
    margin-bottom: 20px;
    color: #616161;
}

  /* <-- SERVICES */
